* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: white;
}

/* Pratyush doodles image and icon style */
.header-item {
    display: flex;
    align-items: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-item img {
    width: 80px;
    height: 80px;
}

.navbar-nav {
    justify-content: center;
}


/* About page */
.faq-drawer {
    margin-bottom: 30px;
}

.faq-drawer__content-wrapper {
    font-size: 1.25em;
    line-height: 1.4em;
    max-height: 0px;
    overflow: hidden;
    transition: 0.25s ease-in-out;
}

.faq-drawer__title {
    border-top: #000 0.5px solid;
    cursor: pointer;
    display: block;
    font-size: 1.25em;
    font-weight: 700;
    padding: 30px 0 30px 0;
    position: relative;
    margin-bottom: 0;
    transition: all 0.25s ease-out;
}

.faq-drawer__title::after {
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: " ";
    display: inline-block;
    float: right;
    height: 10px;
    left: 2px;
    position: relative;
    right: 20px;
    top: 2px;
    transform: rotate(135deg);
    transition: 0.35s ease-in-out;
    vertical-align: top;
    width: 10px;
}

/* OPTIONAL HOVER STATE */
.faq-drawer__title:hover {
    color: #4E4B52;
}
/* 
.faq-drawer__trigger:checked+.faq-drawer__title+.faq-drawer__content-wrapper {
    max-height: 350px;
}

.faq-drawer__trigger:checked+.faq-drawer__title::after {
    transform: rotate(-45deg);
    transition: 0.25s ease-in-out;
} */

input[type="checkbox"] {
    display: none;
}

/* Icons */
.ic-20 {
    width: 20px;
    height: 20px;
}

.ic-30 {
    width: 30px;
    height: 30px;
}

.ic-200 {
    width: 700px;
    height: 700px;
}

.ic-300 {
    width: 300px;
    height: 300px;
}

/* Alignments */
.align-center-horizontal {
    align-items: center;
}