@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');

body {
    background: #ddd;
}

.shell {
    padding: 80px 0;
}

.wsk-cp-product {
    margin: 10px;
    height: auto;
    width: 200px;
    background: #fff;
    padding: 4px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.product-images {
    height: 200px;
    width: 100%;
    position: relative;
}

.wsk-cp-img {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}


.card-header {
    margin: 1px;
    border-top: 1px solid #ddd;
}

.card-header:after{
    content: '';
    display: table;
}

.card-header:after {
    clear: both;
}

.card-header .wcf-left {
    float: left;
}

.card-header .wcf-right {
    float: right;
}

.product-name {
    font-size: 14px;
    width: 50%;
    text-align: left;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.product-price {
    font-size: 12px;
    color: black;
    font-weight: bold;
}

.product-before-discount {
    font-size: 12px;
    color: grey;
}

.product-discount{
    font-size: 12px;
    color: red;
}

.card-description {
    margin: 1px;
    font-size: 12px;
    width: 100%;
    text-align: left;
    color: rgb(109, 109, 109);
}


.buy-btn {
    display: inline-block;
    color: #fefefe;
    text-align: left;
    font-size: 12px;
    transition: all 0.2s ease-in-out;
    border-color: #141414;
    background: #ff9a02;
    padding: 8px 16px;
    border-radius: 27px;
    margin: 0px 2px;
    margin-top: 8px;
    margin-bottom: 4px;
}
.buy-btn:hover,
.buy-btn:focus,
.buy-btn:active {
    text-decoration: none;
    color: #000000;
}

.image-with-menu{
    position: relative;
}

.wsk-cp-product:hover .icon-button{
    display: flex;
}

.icon-button {
    background-color: rgb(255, 255, 255);
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 4px;
    bottom: 4px;
    border-radius: 50%;
    display: none;
}



