{% extends 'ui/base_layout.html' %}
{% block body %}

<nav class="navbar">
    <!-- Login info -->
    <div class="container-fluid">
        {% if data.user %}
        <div class="collapse" id="navbarToggleExternalContent">
            {% with user = data.user %}
                {% include 'ui/profile_section.html' %}
            {% endwith %}
        </div>
        {% endif %}
    </div>
    <div class="container-fluid">

        <!--  Login Button -->
        {% if data.user %}
        <div class="navbar-item align-center-horizontal" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"
            alt="Logo">
            <img class="ic-20" src="{{ url_for('static', filename='images/ic_user.png') }}">
            <p>
                Profile
            </p>
        </div>
        {% else %}
        <a class="nav-link " href="{{ url_for('auth.login') }}">
            <div class="navbar-item align-center-horizontal" alt="Logo">
                <img class="ic-20" src="{{ url_for('static', filename='images/ic_user.png') }}">
                <p>
                    Log-In
                </p>
            </div>
        </a>
        {% endif %}

        <div class="header-item">
            <img class="header-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
            <h1>Mr.phylx</h1>
        </div>

        <!-- Cart Button -->

        <div class="navbar-item align-center-horizontal" id="nav-cart-button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <img class="ic-20" src="{{ url_for('static', filename='images/ic_cart.png') }}">
            <p>
                Cart
            </p>
        </div>


        <!-- OffCanvas Cart -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Cart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            {% with data=data %}
            <div class="offcanvas-body" id="cart-container">
                {% include 'cart.html' %}
            </div>
            {% endwith %}
        </div>
    </div>
</nav>


<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <!-- If not enough space this menu will be visible -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('home.home') }}">New Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('shop.shop') }}">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('others.questions') }}">Question?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('others.contact') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('others.about') }}">About</a>
                    </li>
                </ul>
            </div>
        </div>
</nav>
</div>
<p style="display: none;" class="alert alert-warning" role="alert" id="error"></p>

{% block content %}



{% endblock content %}
<script>
    function removeItemFromCart(button) {
        // Use the socket variable to interact with the WebSocket connection
        let product_id = $(button).attr('product_id')
        cart_item = document.getElementById('cart-item-' + product_id);
        cart_item.remove();
        socket.emit('removeItemFromCart', { product_id: product_id });
        console.log("Event: removeItemFromCart", product_id)
    }

    function onItemRemoved(button) {
        if(location.pathname == '/checkout'){
            location.reload()
        }
        updateCart(expandCart = false);
    }

    function addItemToCart(button) {
        // Use the socket variable to interact with the WebSocket connection
        let product_id = $(button).attr('product_id');
        socket.emit('addItemToCart', { product_id: product_id });
        console.log("Event: addItemToCart", product_id)
    }

    function updateCart(expandCart = true) {
        return new Promise((resolve, reject) => {
            fetch('/getCartItems')
                .then(response => response.text()) // Get the rendered template as HTML
                .then(data => {

                    const cartContainer = document.getElementById('cart-container');
                    cartContainer.innerHTML = data; // Insert the template HTML into the container

                    if (expandCart) {
                        const cartButton = document.getElementById('nav-cart-button');
                        cartButton.click();
                    }
                })
                .catch(error => {
                    error(error);
                });
        });
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        updateCart(expandCart = false);
    });

    function error(error) {
        var errorUi = document.getElementById('error')
        errorUi.innerHTML = error
        errorUi.style.display = 'block'

        setTimeout(function () {
            errorUi.style.display = "none"; // Hide the element by setting its display property to "none"
        }, 5000);
    }

    socket.on('updateCart', updateCart);
    socket.on('onItemRemoved', onItemRemoved);
    socket.on('error', error);
</script>
{% endblock body %}