{% extends 'ui/base_layout.html' %}
{% block body %}

<nav class="navbar">
    <div class="container-fluid">

        <!--  Login Button -->
        {% if data.user %}


        <div class="navbar-item  ml-10 text-center" data-bs-toggle="offcanvas" data-bs-target="#offcanvasProfile"
            aria-controls="offcanvasProfile" aria-label="Toggle navigation">
            <img class="ic-40" src="{{ url_for('static', filename='images/ic_user.svg') }}">
            <p>
                Profile
            </p>
        </div>

        {% else %}
        <a class="nav-link ml-10 text-center " href="{{ url_for('auth.login') }}">
            <div class="navbar-item align-center-horizontal" alt="Logo">
                <img class="ic-40" src="{{ url_for('static', filename='images/ic_user.svg') }}">
                <p>
                    Log-In
                </p>
            </div>
        </a>
        {% endif %}

        <div class="row header-logo">
            <div class="col-md-3">
                <div class="d-flex col header-logo">
                    <h1 class="header-logo-title">Sticky</h1>
                        <img src="{{ url_for('static', filename='images/logo.gif') }}"></img>
                    <h1 style="color: #0097B2;" class="header-logo-title d-flex">him</h1>
                </div>
            </div>
          </div>

        <!-- Cart Button -->
        <span class="row">
            {% if data.user and (data.user.orders|length > 0) %}
            <a href="{{ url_for('home.orders') }}" class="nav-link col text-center mr-5" id="nav-order-button">
                <img class="ic-40" src="{{ url_for('static', filename='images/ic_orders.svg') }}">
                <p>
                    Orders
                </p>
            </a>
            {% endif %}
            <div class="col navbar-item text-center mr-10" id="nav-cart-button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <img class="ic-40" src="{{ url_for('static', filename='images/ic_cart.svg') }}">
                <p>
                    Cart
                </p>
            </div>
        </span>


        <!-- OffCanvas Cart -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Cart</h5>
                <img class="ic-30" data-bs-dismiss="offcanvas" src="{{ url_for('static', filename='images/ic_close.svg') }}">
            </div>
            {% with data=data %}
            <div class="loading" id="cart-loader" style="display: none;"></div>
            <div class="offcanvas-body" id="cart-container">
                {% include 'cart.html' %}
            </div>
            {% endwith %}
        </div>

        <!-- Login info -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasProfile"
            aria-labelledby="offcanvasProfilelabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasProfilelabel">Profile</h5>
                <img class="ic-30" data-bs-dismiss="offcanvas" src="{{ url_for('static', filename='images/ic_close.svg') }}">
            </div>
            <div class="offcanvas-body">
                {% with user = data.user %}
                {% include 'ui/profile_section.html' %}
                {% endwith %}
            </div>
        </div>
    </div>
</nav>


<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <!-- If not enough space this menu will be visible -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" id="home-link" href="{{ url_for('home.home') }}">New Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="shop-link" href="{{ url_for('shop.shop') }}">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="questions-link" href="{{ url_for('others.questions') }}">Questions?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-link" href="{{ url_for('others.contact') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="about-link" href="{{ url_for('others.about') }}">About</a>
                    </li>
                </ul>
            </div>
        </div>
</nav>
</div>
<p style="display: none;" class="alert alert-warning" role="alert" id="error"></p>

<div class="container" style="background-color: white; box-shadow: 0 1px 1px 0 rgba(80, 80, 80, 0.16), 0 0 0 1px rgba(89, 89, 89, 0.08);
 background-color: rgba(255, 255, 255, 0.4); min-height: 1000px;  background-repeat: no-repeat; position: relative;">
    {% block content %}



    {% endblock content %}
</div>
<script>
    // Get the current URL
    var currentURL = window.location.pathname;

    // Get all the navigation links
    const navLinks = document.querySelectorAll('.nav-link');

    // Iterate through the links and compare the URL with the current URL
    navLinks.forEach(link => {
        const linkURL = link.getAttribute('href');

        if (currentURL === '/') {
            currentURL = '/shop'
        }

        if (currentURL === linkURL) {
            link.classList.add('active');
        } else {
            link.classList.remove('active');
        }
    });

    function removeItemFromCart(button) {
        // Use the socket variable to interact with the WebSocket connection
        showLoaderOnCart();
        let product_id = $(button).attr('product_id')
        cart_item = document.getElementById('cart-item-' + product_id);
        cart_item.remove();

        fetch('/removeItemFromCart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ product_id: product_id })
        })
        .then(response => {
            console.log(response);
            response.json()
        })
        .then(data => {
            hideLoaderOnCart();
            onItemRemoved();
            console.log(data); // Process the response (e.g., cart update)
        })
        .catch(error => {
            hideLoaderOnCart();
            showError('Error:', error);
        });

        console.log("Event: removeItemFromCart", product_id)
    }

    function onItemRemoved() {
        if (location.pathname == '/checkout') {
            location.reload()
        }
        updateCart({toggleCart : false});
    }

    function addItemToCart(button) {
        // Use the socket variable to interact with the WebSocket connection
        showLoader();
        let product_id = $(button).attr('product_id');
        
        fetch('/addItemToCart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ product_id: product_id })
        })
        .then(response => {
            console.log(response);
            response.json()
        })
        .then(data => {
            updateCart();
            hideLoader();
            console.log(data); // Process the response (e.g., cart update)
        })
        .catch(error => {
            hideLoader();
            showError('Error:', error);
        });

        console.log("Event: addItemToCart", product_id)
    }

    function updateCart({ toggleCart = true, hasLoader = true}={}) {

        if(hasLoader){
            showLoaderOnCart();
        }

        return new Promise((resolve, reject) => {
            fetch('/getCartItems')
                .then(response => response.text()) // Get the rendered template as HTML
                .then(data => {
                    hideLoaderOnCart();

                    const cartContainer = document.getElementById('cart-container');
                    cartContainer.innerHTML = data; // Insert the template HTML into the container

                    if (toggleCart) {
                        const cartButton = document.getElementById('nav-cart-button');
                        cartButton.click();
                    }
                })
                .catch(error => {
                    hideLoaderOnCart();
                    showError(error);
                });
        });
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        updateCart({toggleCart : false});
    });


    function increaseValue(product_id) {
        cart_item_quantity = document.getElementById('number-' + product_id);
       
        var value = parseInt(cart_item_quantity.value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        cart_item_quantity.value = value;

        fetch('/addItemToCart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ product_id: product_id })
            })
            .then(response => {
                response.json()
            })
            .then(data => {
                console.log(data); 
                updateCart({toggleCart : false, hasLoader : false});
            })
            .catch(error => {
                showError('Error:', error);
        });
    }

    function decreaseValue(product_id) {
        cart_item_quantity = document.getElementById('number-' + product_id);
       
        var value = parseInt(cart_item_quantity.value, 10);
        value = isNaN(value) ? 0 : value;
        value < 1 ? value = 1 : '';
        value--;

        if(value < 1){
           showLoaderOnCart();
        } else {
           cart_item_quantity.value = value;
        }

        fetch('/reduceItemFromCart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ product_id: product_id })
            })
            .then(data => {
                console.log(data); 
                updateCart({toggleCart : false, hasLoader : false});
            })
            .catch(error => {
                showError('Error:', error);
        });
    }

    function showLoaderOnCart(error) {
        var loaderUi = document.getElementById('cart-loader')
        loaderUi.style.display = 'block'
    }

    function hideLoaderOnCart(error) {
        var loaderUi = document.getElementById('cart-loader')
        loaderUi.style.display = 'none'
    }

    function copyToClipboard(linkId) {
      /* Logic to copy the link to the clipboard */
      var linkInput = document.getElementById(linkId);
      linkInput.select();
      document.execCommand("copy");
      linkInput.parentElement.style.display = 'none';
    }

    function showShareLink(shareButton, shareButtonId){
        var linkInput = document.getElementById(shareButtonId);
        console.log(linkInput);
        linkInput.style.display = 'block';
        linkInput.addEventListener('mouseleave', function (){
            linkInput.style.display = 'none';
            linkInput.style.left = shareButton.style.left;
            linkInput.style.top = shareButton.style.bottom + 200;
        });
    }
</script>
{% endblock body %}


{% block footer %}
<footer class="bg-light text-dark p-3 mt-5" style="background-color: #ffffff;">
    <p style="text-align:center">
        <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-1"
            href="{{ url_for('shop.shop') }}">Shop</a>
        <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-1"
            href="{{ url_for('others.questions') }}">Refund Policy</a>
        <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-1"
            href="{{ url_for('others.questions') }}">Shipping Policy</a>
        <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-1"
            href="{{ url_for('others.questions') }}">Tracking Orders</a>

        <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-1"
            href="https://www.instagram.com/pratyush.doodles/" target="_blank">Instagram</a>
        <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-1"
            href="mailto:pratyush.doodles@gmail.com">E-Mail</a>
    </p>
</footer>
{% endblock footer %}