{% extends 'ui/base_layout.html' %}
{% block body %}

<nav class="navbar">
    <!-- Login info -->
    <div class="container-fluid">
        {% if data.user %}
        <div class="collapse" id="navbarToggleExternalContent">
            <h5 class="text-body-emphasis h4">Logged in as: {{ data.user.name }}</h5>
            <span class="text-body-secondary email">Email: {{ data.user.email }}</span>
        </div>
        {% endif %}
    </div>
    <div class="container-fluid">

        <!--  Login Button -->
        {% if data.user %}
        <div class="navbar-item align-center-horizontal" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"
            alt="Logo">
            <img class="ic-20" src="{{ url_for('static', filename='images/ic_user.png') }}">
            <p>
                Profile
            </p>
        </div>
        {% else %}
        <a class="nav-link " href="{{ url_for('auth.login') }}">
            <div class="navbar-item align-center-horizontal" alt="Logo">
                <img class="ic-20" src="{{ url_for('static', filename='images/ic_user.png') }}">
                <p>
                    Log-In
                </p>
            </div>
        </a>
        {% endif %}

        <div class="header-item">
            <img class="header-logo" src="{{ url_for('static', filename='images/ic_logo.png') }}" alt="Logo">
            <h1>Mr.phylx</h1>
        </div>

        <!-- Cart Button -->

        <div class="navbar-item align-center-horizontal" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <img class="ic-20" src="{{ url_for('static', filename='images/ic_cart.png') }}">
            <p>
                Cart
            </p>
        </div>


        <!-- OffCanvas Cart -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Cart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                {% if data.user %}
                    {% if data.user.cart and (data.user.cart.cart_items|length>0) %}
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Items</a>
                        </li>
                    </ul>
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Cart Item 1</button>
                    </form>
                    {% else %}
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Your Cart is Empty</a>
                        </li>
                    </ul>
                    {% endif %}
                {% else %}
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Log-In to access your Cart</a>
                    </li>
                </ul>
                {% endif%}
            </div>
        </div>
    </div>
</nav>


<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <!-- If not enough space this menu will be visible -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('home.home') }}">New Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('shop.shop') }}">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('others.questions') }}">Question?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('others.contact') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('others.about') }}">About</a>
                    </li>
                </ul>
            </div>
        </div>
</nav>
</div>

{% block content %}



{% endblock content %}
{% endblock body %}