<!-- card.html -->
<div class="card">
    <div class="card-header">
        {{ product.name }}
    </div>
    <div class="card-body">
        <div class="product-description">
            {{ product.description }}
        </div>
        <div class="product-price">
            Price: ${{ product.price }}
        </div>
        <div class="product-stock">
            Stock Quantity: {{ product.stock_quantity }}
        </div>
        <div class="product-images">
            <!-- Bootstrap Carousel -->

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">

                    {% for image in product.product_images %}
                    <div class="carousel-item active">
                        <img src="{{ image.picture_url }}" class="d-block w-100" alt="Product Image">
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="product-actions">
            <button class="btn btn-success add-to-cart-btn" onclick="toggleOptions(this)">Add to Cart</button>
            <div class="cart-options" style="display: none;">
                <button class="btn btn-danger" onclick="decrementCounter(this)">-</button>
                <span class="counter" style="display: inline;">1</span>
                <button class="btn btn-success" onclick="incrementCounter(this)">+</button>
            </div>
        </div>
    </div>
</div>