<!-- card.html -->
<div class="card">
    <div class="card-header">
        {{ product.name }}
    </div>
    <div class="card-body">
        <div class="product-description">
            {{ product.description }}
        </div>
        <div class="product-price">
            Price: ${{ product.price }}
        </div>
        <div class="product-stock">
            Stock Quantity: {{ product.stock_quantity }}
        </div>
        <div class="product-images">
            <img src="{{ product.product_images[0].picture_url }}" class="d-block w-100" alt="Product Image">
        </div>

        <div class="product-actions">
            <button class="btn btn-success add-to-cart-btn" onclick="toggleOptions(this)">Add to Cart</button>
            <div class="cart-options" style="display: none;">
                <button class="btn btn-danger" onclick="decrementCounter(this)">-</button>
                <span class="counter" style="display: inline;">1</span>
                <button class="btn btn-success" onclick="incrementCounter(this)">+</button>
            </div>
        </div>
    </div>
</div>