<div class="row mb-4 d-flex justify-content-between align-items-center">
    <div class="col-md-2 col-lg-2 col-xl-2">
        <img src="{{ product.product_images[0].picture_url }}" alt="Product" class="rounded-3 ic-50" />
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3">
        <h6 class="text-muted">{{ product.name }}</h6>
        <h6 class="text-black mb-0">x {{ cart_item.quantity }}</h6>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 offset-lg-1">
        <h6 class="mb-0">Rs.{{ product.price }}</h6>
    </div>
    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
        <span class="text-muted" product_id="{{ product.id }}" onclick="removeItemFromCart(this)">
            <img class="ic-20" src="{{ url_for('static', filename='images/ic_trash.png') }}">
        </span>
    </div>
    <hr class="my-4">
</div>