<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-3 cart-item-image rounded-3">
            <img src="{{ url_for('static', filename='images/stickers/8.png') }}"  alt="Product" class="ic-80" />
        </div>
        <div class="col-7">
            <div class="row">
                <h6 class="col text-muted">{{ product.name }}</h6>
            </div>

            {% if source=='cart' %}
            <div class="row justify-content-center">
                <form class="col align-items-center mt-2 mb-2">
                    <div class="value-button" id="decrease" onclick="decreaseValue('{{ product.id }}')"
                        value="Decrease Value">-</div>
                    <input type="number" class="cart-quantity-input" id="number-{{ product.id }}"
                        value="{{cart_item.quantity}}" readonly="readonly" />
                    <div class="value-button" id="increase" onclick="increaseValue('{{ product.id }}')"
                        value="Increase Value">+</div>
                </form>
            </div>
            {% else %}
            x {{cart_item.quantity}}
            {% endif %}
        </div>
        <div class="col-1 d-flex">
            <div class="row align-items-center">
                ₹{{ product.price }}
            </div>
        </div>

        <div class="col-1 d-flex align-items-center">
            <img class="ic-30" product_id="{{ product.id }}" onclick="removeItemFromCart(this)"
                src="{{ url_for('static', filename='images/ic_thrash.svg') }}">
        </div>

    </div>
</div>
<hr class="my-4">