<div class="row mb-2 d-flex justify-content-between align-items-center">
    <div class="col-md-2 col-lg-2 col-xl-2">
        <h6 class="text-muted">#{{ order.id }}</h6>
        <img src="{{ url_for('static', filename='images/ic_order_package.svg') }}" alt="Product" class="rounded-3 ic-80" />
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3">
        <h6 class="text-muted">{{ order.order_date }}</h6>
        <h6 class="text-muted">{{ order.address }}</h6>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3">
        <h6 class="text-muted">{{ order.status }}</h6>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 offset-lg-1">
        <h6 class="mb-2">Amount Paid: ₹{{ order.amount }}</h6>
        <button class="nutral-button">Track Order</h6>
    </div>
    <hr class="my-4">
</div>