<!-- Detailed product Card UI -->
<div class="row">
    <div class="col-sm d-flex align-items-end justify-content-end" style="">
        <div class="product-images hover-auto-transition-product m-4" style="width: 300px;">
            {% for product_image in product.product_images %}
            <img class="wsk-cp-img img-responsive"  src="{{ product_image.picture_url }}?update=4" alt="Product" loading="lazy" />
            {% endfor %}
            <b class="card-tag wcf-left" product_highlight="{{ product.product_highlight }}"
                onclick="seletedTagFilter(this)"> {{product.product_highlight }} </b>
        </div>
    </div>
    <div class="col-md-auto align-items-center justify-content-center m-5">
        <h1 class="row text-start"> {{ product.name }} </h1> 
        <h3 class="row text-start card-description mt-3 ">{{ product.description }}</h3>
        
        <div class="row text-start mt-4">  ({{ product.discount_percent }}% off) </div>
        
        <h1 class="row product-before-discount text-start" style="text-decoration: line-through;"> Rs. {{ product.getDiscount() }}/- </h1> 

        <h3 class="row text-start mt-2">  Rs. {{ product.price }}/- </h3>
    </div>

    <div class="container mt-5">
        <span class="buy-btn text-center" product_id="{{ product.id }}" onclick="addItemToCart(this)">Add to cart</span>
    </div>
</div>