<!-- Detailed product Card UI -->
<div class="row align-items-center justify-content-center ">
    <div class="col-sm d-flex align-items-end justify-content-end" style="">
        <div class="row">
            <div class="product-images" style="width: 300px;">
                {% for product_image in product.product_images %}
                    {% if loop.first %}
                      <img class="img-responsive" id="image-product-preview"  src="{{ product_image.picture_url }}?update=4" alt="Product" loading="lazy" />
                    {% endif %}
                {% endfor %}
            </div>

            <div class="flex-row mt-2 d-flex flex-sm-row">
                {% for product_image in product.product_images %}
                    <img class="product-images-thumbnails img-responsive"  src="{{ product_image.picture_url }}?update=4"  alt="Product" loading="lazy" onclick="setThisImageForPreview(this, `{{ product_image.picture_url }}?update=4`)"/>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-auto align-items-center justify-content-center mt-4 mb-4">
        <h1 class="row text-start"> {{ product.name }} </h1> 
        <h3 class="row text-start card-description mt-3 ">{{ product.description }}</h3>
        
        <div class="row text-start mt-4">  ({{ product.discount_percent }}% off) </div>
        
        <h1 class="row product-before-discount text-start" style="text-decoration: line-through;"> Rs. {{ product.getDiscount() }}/- </h1> 

        <h3 class="row text-start mt-2">  Rs. {{ product.price }}/- </h3>
    </div>

    <div class="container mt-5">
        <span class="buy-btn text-center" product_id="{{ product.id }}" onclick="addItemToCart(this)">Add to cart</span>
    </div>
</div>