<div class="row">
    {% if data.user.is_authenticated %}
    <p type="button" class="">Logged in with: <b>{{ data.user.email }}</b></p>
    <div class="container" style="position: absolute; bottom: 0;">
        <div class="row">
            <a type="button" class="secondary-button col mb-2" href="mailto:stickyshapestore@gmail.com">
                Write to Us
            </a>
            <a type="button" class="dark-button" href="{{ url_for('auth.logout') }}">Logout</a>
        </div>
    </div>
    {% endif %}
</div>