<!-- about.html -->
{% extends 'index.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
    <section>
        <div class="container mt-5 text-center">
            <h4>About Us</h4>
            <div class="container-fluid mt-1">
                <p>Well nothing, I just felt like sharing my random thoughts :)</p>
            </div>
            <div class="container-fluid about-page-team">
                <img class="img-fluid ic-200"  src="{{ url_for('static', filename='images/our_team.svg') }}" alt="">
            </div>
        </div>
    </section>
{% endblock %}
