<!-- add_product.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
</head>
<body>
    <h1>Add Product</h1>
    <form method="POST" action="{{ url_for('shop.add_product') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name() }}
            {% for error in form.name.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div>
            {{ form.description.label }}<br>
            {{ form.description() }}
            {% for error in form.description.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div>
            {{ form.price.label }}<br>
            {{ form.price() }}
            {% for error in form.price.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div>
            {{ form.stock_quantity.label }}<br>
            {{ form.stock_quantity() }}
            {% for error in form.stock_quantity.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div>
            {{ form.images.label }}<br>
            {{ form.images() }}
            {% for error in form.images.errors %}
                    <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div>
            {{ form.discount_percent.label }}<br>
            {{ form.discount_percent() }}
            {% for error in form.discount_percent.errors %}
                    <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div>
            {{ form.product_highlight.label }}<br>
            {{ form.product_highlight() }}
            {% for error in form.product_highlight.errors %}
                    <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div>
            <input type="submit" value="Add Product">
        </div>
    </form>
</body>
</html>
