{% if data.user %}
{% if data.cart_items and (data.cart_items|length>0) %}
<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">Items {{data.items_count}}</a>
    </li>
</ul>
<div class="flex-column">
    {% for cart_item in data.cart_items %}
        <div id = "cart-item-{{ cart_item.product_id }}">
            {% with cart_item=cart_item, product=cart_item.get_product() %}
                {% include 'ui/cart_item.html' %}
            {% endwith %}
        </div>
    {% endfor %}
    <div class="container" style="position: absolute; bottom: 0;">
        <hr class="mb-4">
        <div class="container mb-4">
            <div class="row">
                <span class="col-md-6">
                    <!-- Total Amount -->
                    <div class="total-amount">
                        Total: ₹ {{ data.total_amount }}/- <!-- Replace with your actual total amount -->
                    </div>
                </span>
                <span class="col-md-6 text-center">
                    <!-- Checkout Button -->
                    <a class="align-middle" href="{{ url_for('checkout.checkout') }}">
                        <button class="dark-button">Place order</button>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>    
{% else %}
<div class="row ml-auto">
    <p>
        No items added.
    </p>
    <p>
        Visit <a type="button" class="dark-button" href="{{ url_for('shop.shop') }}"><b>Shop</b></a> to add items.
    </p>
</div>
{% endif %}
{% else %}
    <div class="row ml-auto">
        <p>
            <a type="button" class="dark-button " href="{{ url_for('auth.login') }}"><b>Log-In</b></a> to access your cart
        </p>
    </div>
{% endif%}