{% if data.user %}
{% if data.user.cart and (data.user.cart.cart_items|length>0) %}
<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Items</a>
    </li>
</ul>
    {% for cart_item in data.user.cart.cart_items %}
        {% with cart_item=cart_item, product=cart_item.get_product() %}
            {% include 'ui/cart_item.html' %}
        {% endwith %}
    {% endfor %}
{% else %}
<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Your Cart is Empty</a>
    </li>
</ul>
{% endif %}
{% else %}
<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Log-In to access your Cart</a>
    </li>
</ul>
{% endif%}