<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart Items</title>
</head>
<body>
    <h1>Cart Items</h1>
    <ul>
        {% for cart_item in cart_items %}
            <li>
                {{ cart_item.item_name }}
                (Quantity: {{ cart_item.quantity }})
                {% if cart_item.item_description %}
                    <p>Description: {{ cart_item.item_description }}</p>
                {% endif %}
                <h1>Image: {{ cart_item.pictures }} </h1>
                {% if cart_item.pictures %}
                    <ul>
                        {% for picture in cart_item.pictures %}
                        <h1>Image: </h1>
                            <li><img src="{{ picture.picture_url }}" alt="Item Picture"></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
