<!-- about.html -->
{% extends 'index.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<section>
    <div class="container pt-5 text-center">
        <h4>Contact</h4>
        <div class="container-fluid mt-1">
            <p>We would love to hear from you, write to us at <b>pratyush.doodles@gmail.com</b></p>
        </div>
        <div class="container-fluid about-page-team">
            <img class="img-fluid ic-200" src="{{ url_for('static', filename='images/write_to_us.svg') }}" alt="">
        </div>
    </div>
</section>
{% endblock %}