<!-- about.html -->
{% extends 'ui/base_page.html' %}
{% block content %}
<div class="container text-center pt-5 pb-5">
    <div class="row">

        <div class="col-sm d-flex align-items-center justify-content-center">
            <div class="container">
                <h2>Stickers!</h2>
                <p>Discover our <span style="color: #FF5733; font-weight: bold;">Love</span> & Emotions Sticker
                    Collection featuring <span style="color: #3333FF; font-weight: bold;">funky</span> designs, <span
                        style="color: #00CC00; font-weight: bold;">cool</span> artwork, and <span
                        style="color: #FF0088; font-weight: bold;">romantic</span> elements to elevate your mood.
                    Express feelings, make someone's day, or brighten conversations with stickers crafted with <span
                        style="color: #FF5733; font-weight: bold;">love</span> and <span
                        style="color: #9900CC; font-weight: bold;">creativity</span>. Let them speak when words fail,
                    and share the beauty of <span style="color: #FF5733; font-weight: bold;">love</span> and <span
                        style="color: #FF8800; font-weight: bold;">emotions</span>. Thank you for choosing our stickers.
                </p>
                <p>Spread the love, one sticker at a time!</p>

                <a type="button" class="dark-button" href="{{ url_for('shop.shop') }}"><b>Buy Stickers</b></a>
            </div>
        </div>
        <div class="col-sm">
            <img class="img-fluid" src="{{ url_for('static', filename='images/about_stickers.png') }}" alt="">
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-sm">
            <img class="img-fluid ic-500" src="{{ url_for('static', filename='images/about_cards.png') }}" alt="">
        </div>
        <div class="col-sm col-sm d-flex align-items-center justify-content-center">
            <div class="container">
                <h2>
                    Cards!
                </h2>
                <p>Do you believe in the <span style="color: #FF5733; font-weight: bold;">magic</span> of <span
                        style="color: #FF5733; font-weight: bold;">movies</span>? We sure do! Introducing our <span
                        style="color: #FF5733; font-weight: bold;">Movie Magic Card Collection</span> – a blend of cards
                    inspired by favorite <span style="color: #FF5733; font-weight: bold;">movie</span> scenes, designed
                    to express emotions and affection cinematically.</p>
                <p>We hope they bring joy, laughter, and maybe even a few tears of happiness.</p>
                <p>Share the <span style="color: #FF5733; font-weight: bold;">magic</span>, one card at a time!</p>
                <a type="button" class="dark-button" href="{{ url_for('shop.shop') }}"><b>Buy Cards</b></a>
            </div>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-sm col-sm d-flex align-items-center justify-content-center">
            <div class="container">
                <h2>
                    Ready to place order?
                </h2>
                Head over to <a type="button" class="dark-button" href="{{ url_for('shop.shop') }}"><b>Shop</b></a>
                <p>and order your favourite items!</p>
            </div>
        </div>
        <div class="col-sm">
            <img class="img-fluid ic-500" src="{{ url_for('static', filename='images/about_gift_pack.png') }}" alt="">
        </div>
    </div>

    <div class="row pt-5">
        <div class="d-flex">
            <div class="container-sm">
                <h2>
                    Comics!
                </h2>
                <div class="col-sm">
                    <p class="pt-4">If you're in the mood for a good laugh or a touch of boredom (hey, sometimes that's
                        fun too!), you're in the right place.  <br> <b>Pratyush's Doodles</b> is your dose
                        of humor, witty insights, and a dash of randomness through our comics.</p>

                    <p>Keep doodling, keep smiling!</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm">
            <img class="img-fluid" style="width: 600px;" src="{{ url_for('static', filename='images/about_commics.png') }}" alt="">
        </div>
    <p class="mt-5">
       Follow us on <a class="mb-5 mt-5" href="https://www.instagram.com/pratyush.doodles/" target="_blank"><img style="width: 200px;" src="{{ url_for('static', filename='images/ic_instagram.png') }}"
            alt=""></a> to stay updated :)
    </p>
    </div>
</div>
{% endblock content %}