<!-- about.html -->
{% extends 'ui/base_page.html' %}
{% block content %}
<div class="container text-center pt-5 pb-5">
    <div class="row">

        <div class="col-sm d-flex align-items-center justify-content-center">
            <div class="container">
                <h2>Stickers!</h2>
                <p>🌟 Looking to add some extra charm to your world? <br> Our cute stickers are here to save the day! Whether you're decking out <br> your laptop, water bottle, or journal, these adorable designs are sure to <br> bring a smile to your face.</p>
                <p>🎨 Dive into our collection now and discover the perfect <br> sticker to brighten up your day!</p>
               
                <p>Spread the <span style="color: #FF5733; font-weight: bold;">magic</span>, one sticker at a time!</p>

                <a type="button" class="dark-button" href="{{ url_for('shop.shop') }}"><b>Shop Stickers</b></a>
            </div>
        </div>
        <div class="col-sm">
            <img class="img-fluid" src="{{ url_for('static', filename='images/about_stickers.png') }}" alt="">
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-sm">
            <img class="img-fluid ic-400" src="{{ url_for('static', filename='images/about_cards.png') }}" alt="">
        </div>
        <div class="col-sm col-sm d-flex align-items-center justify-content-center">
            <div class="container">
                <h2>
                    Cards!
                </h2>
                <p>💌 Relive iconic movie moments with our romantic cards inspired by <br> timeless love scenes🎥. 
                    We hope they bring <br> joy, laughter, and maybe even a few tears of happiness.</p>
                <p>Share the <span style="color: #FF5733; font-weight: bold;">magic</span>, one card at a time!</p>
                <a type="button" class="dark-button" href="{{ url_for('shop.shop') }}#scroll-head-Movie%20Cards"><b>Buy Cards</b></a>
            </div>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-sm col-sm d-flex align-items-center justify-content-center">
            <div class="container">
                <h2>
                    Ready to place order?
                </h2>
                Head over to <a type="button" class="dark-button" href="{{ url_for('shop.shop') }}"><b>Shop</b></a>
                <p>and order your favourite items!</p>
            </div>
        </div>
        <div class="col-sm">
            <img class="img-fluid ic-500" src="{{ url_for('static', filename='images/ic_order_package.png') }}" alt="">
        </div>
    </div>

    <div class="row pt-5">
        <div class="d-flex">
            <div class="container-sm">
                <h2>
                    Comics!
                </h2>
                <div class="col-sm">
                    <p class="pt-4">If you're in the mood for a good laugh or a touch of boredom (hey, sometimes that's
                        fun too!), you're in the right place.  <br> <b>StickyShape's crafts</b> is your dose
                        of humor, witty insights, and a dash of randomness through our comics.</p>

                    <p>Keep doodling, keep smiling!</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm">
            <img class="img-fluid" style="width: 600px;" src="{{ url_for('static', filename='images/about_commics.png') }}" alt="">
        </div>
    <p class="mt-5">
       Follow us on <a class="mb-5 mt-5" href="https://www.instagram.com/stickyshape/" target="_blank"><img style="width: 200px;" src="{{ url_for('static', filename='images/ic_instagram.png') }}"
            alt=""></a> to stay updated :)
    </p>
    </div>
</div>
{% endblock content %}