<!-- about.html -->
{% extends 'index.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
    <div class="container pt-5 text-center">
        <h4>Frequently Asked Questions </h4>
    </div>
    <div class="mt-5 container-fluid faq-drawer col-md-6" id="faqs-container">
        Loading...
    </div>
    <div class=" mt-5 pb-5 container-fluid text-center">
        <p>for any other questions reach out to us at <b>stickyshapestore@gmail.com</b></p>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        fetch('/getFaqs')
            .then(response => response.text()) // Get the rendered template as HTML
            .then(data => {
                const cartContainer = document.getElementById('faqs-container');
                cartContainer.innerHTML = data; // Insert the template HTML into the container
            })
            .catch(error => {
                showError(error)
            });
    });

    function expandFaq(faqId) {
        const faqCheckBox = document.getElementById('faq-drawer-' + faqId);
        faqCheckBox.checked = !faqCheckBox.checked; // Toggle the checked state
        const faqContent = document.getElementById('faq-content-container-' + faqId);
        if (faqCheckBox.checked) {
            faqContent.style.maxHeight = '0px';
        } else {
            faqContent.style.maxHeight = '350px';
        }
    }

</script>
{% endblock %}