<!-- about.html -->
{% extends 'ui/base_page.html' %}

{% block content %}

<div class="container text-center mt-5">
    <div class="row justify-content-center mx-auto">
            <!-- height: 20%; -->
            <div class="col-xl-5 col-lg-6 col-md-7 col-sm-9">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-interval="300" data-bs-ride="carousel" style="border-radius: 10px;">
                    <div class="carousel-indicators" style="opacity: 0.2; bottom: 0; left: 0;">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="width: 10px;"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2" style="width: 10px;"></button>
                    </div>
                    <div class="carousel-inner" style="border-radius: 10px;">
                    <div class="carousel-item active" data-bs-interval="3000" style="border-radius: 10px;">
                        <img src="{{ url_for('static', filename='images/promos/promo_1.png') }}" class="d-block w-100" alt="..." style=" border-radius: 10px;">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000" style="border-radius: 10px;">
                        <img src="{{ url_for('static', filename='images/promos/promo_2.png') }}" class="d-block w-100" alt="...">
                    </div>
                    </div>
                </div>
        </div>

        {% if data.products_with_categories %}
            {% for category, products in data.products_with_categories.items() %}
                <div id="scroll-head-{{ category }}"></div>
                <div id="products-list-{{ category }}" class="row justify-content-center mx-auto">
                    {% if products and products|length > 0 %}
                        <h4 class="mb-3 mt-3 p-2 sticky-top" style="z-index: 888; background-color: white; top: 55px;  box-shadow: 0 2px 0px -1px rgba(0, 0, 0, 0.1);" id="{{ category }}">{{ category }}</h4>
                    {% endif %}
                </div>    
                <div category="{{ category }}" page="2" class="showMoreButton col-auto">
                    <button class="dark-button align-items-center"> Show more </button>
                    <span class="loader" style="display: none;"></span>
                </div>
            {% endfor %}
        {% else %}
            <p>No products listed!</p>
        {% endif %}
    </div>
</div>

<script>
    // Pagination
    let categoryStickers = 'Stickers'
    let categoryMovieCards= 'Movie Cards'

    function getData(page, category, button) {
        var productsListDiv = document.getElementById('products-list-'+category);
        console.log(productsListDiv);
        fetch('/get_products/?page='+page+'&category='+category)
            .then(response => response.text()) // Get the rendered template as HTML
            .then(data => {
                const itemElement = document.createElement('div');
                itemElement.innerHTML = data

                if (data != "" && button != null) {
                    button.children[0].style.display = 'block';
                    button.children[1].style.display = 'none';
                } else if (button != null) {
                    button.children[1].style.display = 'none';
                }
                
                productsListDiv.appendChild(itemElement);
                setUpAnimation();
            })
            .catch(error => {
                showError(error)
            });
    }

    function handleScroll() {
        // @var int totalPageHeight
        var totalPageHeight = document.body.offsetHeight;

        // @var int scrollPoint
        var scrollPoint = window.scrollY + window.innerHeight;

        // check if we hit the bottom of the page
        if (scrollPoint >= totalPageHeight) {
            //TODO:: appendDataToContent();
        }
    }

    // if ((window.innerHeight + window.scrollY) >= document.body.scrollHeight) {


   // Event listeners for scrolling
   window.addEventListener('scroll', handleScroll);
   window.addEventListener('touchmove', handleScroll);     

   async function appendDataToContent(page, category, button) {
        await getData(page, category, button);
   }

    appendDataToContent(1, categoryStickers, null);
    appendDataToContent(1, categoryMovieCards, null);

    function setUpAnimation() {
        const hoverCards = document.querySelectorAll(".wsk-cp-product"); // Replace "hover-card" with the actual ID or class of your card
        hoverCards.forEach(function (hoverCard) {
            const productImages = hoverCard.querySelectorAll(".wsk-cp-img");

            let currentIndex = 0;
            let intervalId = null; // Initialize a variable to store the interval ID

            // initiallly make last visible
            for (let i = 1; i < productImages.length; i++) { 
                productImages[i].style.opacity = 0;
            }
            productImages[currentIndex].style.opacity = 1;


            if (productImages.length > 0) {
                hoverCard.addEventListener("mouseenter", function () {
                    //start
                    console.log('start', intervalId, currentIndex);
                    if (intervalId === null) {
                        intervalId = setInterval(function () {
                            console.log('start', intervalId, currentIndex);

                            productImages[currentIndex].style.opacity = 0; // Hide the current image
                            currentIndex = (currentIndex + 1) % productImages.length; // Cycle through the images
                            productImages[currentIndex].style.opacity = 1; // Show the next image
                        }, 1000);

                        console.log('start', intervalId, currentIndex);

                    }
                });
                hoverCard.addEventListener("mouseleave", function () {
                    //stop

                    if (intervalId !== null) {
                        // reset
                        console.log('stop', intervalId, currentIndex);
                        clearInterval(intervalId);


                        productImages[currentIndex].style.opacity = 0;
                        productImages[0].style.opacity = 1;

                        intervalId = null;
                        currentIndex = 0;
                    }
                });
            }
        });
    }

    var showMoreButton = document.getElementsByClassName('showMoreButton');
    
    for(i = 0; i<showMoreButton.length; i++){
        let button = showMoreButton[i];
        let category = button.getAttribute('category');        
        button.addEventListener('click', function () {
            let page = parseInt(button.getAttribute('page'));
            appendDataToContent(page, category, button);
            button.setAttribute('page', page+1)

            button.children[0].style.display = 'none';
            button.children[1].style.display = 'block';
        });
    }

</script>
{% endblock %}