<!-- about.html -->
{% extends 'ui/base_page.html' %}

{% block content %}


<div class="container text-center pt-5 pb-5">
    <div class="row">
        {% if data.products %}
            {% for product in data.products %}
            <!-- <div style="width: 300px; margin-left: 10px; margin-right: 10px;"> -->
                {% with product=product %}
                    {% include 'ui/product_card.html' %}
                {% endwith %}
            <!-- </div> -->
            {% endfor %}
        {% else %}
            <p>No products listed!</p>
        {% endif %}
    </div>
</div>

<script>
    function setUpAnimation() {
        const hoverCards = document.querySelectorAll(".wsk-cp-product"); // Replace "hover-card" with the actual ID or class of your card
        hoverCards.forEach(function (hoverCard) {
            const productImages = hoverCard.querySelectorAll(".wsk-cp-img");

            let currentIndex = 0;
            let intervalId = null; // Initialize a variable to store the interval ID

            // initiallly make last visible
            productImages[currentIndex].style.opacity = 1;


            if (productImages.length > 0) {
                hoverCard.addEventListener("mouseenter", function () {
                    //start
                    console.log('start', intervalId, currentIndex);
                    if (intervalId === null) {
                        intervalId = setInterval(function () {
                            productImages[currentIndex].style.opacity = 0; // Hide the current image
                            currentIndex = (currentIndex + 1) % productImages.length; // Cycle through the images
                            productImages[currentIndex].style.opacity = 1; // Show the next image
                        }, 1000);

                        console.log('start', intervalId, currentIndex);

                    }
                });
                hoverCard.addEventListener("mouseleave", function () {
                    //stop

                    console.log('stop', intervalId, currentIndex);
                    if (intervalId !== null) {
                        // reset
                        clearInterval(intervalId);

                        productImages[currentIndex].style.opacity = 0;
                        productImages[0].style.opacity = 1;

                        intervalId = null;
                        currentIndex = 0;
                    }
                });
            }
        });
    }

    setUpAnimation()
</script>
{% endblock %}