<!-- about.html -->
{% extends 'index.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<section>
    <div class="container pt-5 pb-4">
        <h1 class="mb-4">Pricing Information</h1>
        <p>Last updated: 3rd December, 2023</p>

        <p>Welcome to StickyShape! Here, we believe in providing transparent and straightforward pricing for our valued
            customers. Please review our pricing information before making a purchase.</p>

        <h2 class="pt-3">Standard Pricing:</h2>
        <p><strong>Sticker Prices:</strong> Our stickers are competitively priced, offering a range of designs to suit
            different preferences. Visit our product pages for detailed pricing information.</p>
        <p><strong>Delivery Charges:</strong> We have a standard delivery charge of Rs30 for orders delivered within
            India. This charge is applied per order.</p>

        <h2 class="pt-3">Discounts and Promotions:</h2>
        <p><strong>Discounts:</strong> Enjoy occasional discounts and promotions on select items. Keep an eye on our
            website and promotional emails for the latest offers.</p>
        <p><strong>Promo Codes:</strong> Enter valid promo codes during checkout to avail additional discounts. Follow
            our social media channels for exclusive promo code announcements.</p>

        <h2 class="pt-3">Payment Information:</h2>
        <p><strong>Payment Methods:</strong> We accept various payment methods, including credit/debit cards, net
            banking, and other secure payment gateways.</p>
        <p><strong>Currency:</strong> All prices are listed in Indian Rupees (INR).</p>

        <h2 class="pt-3">Price Adjustments:</h2>
        <p><strong>Price Changes:</strong> We reserve the right to adjust prices at our discretion. Such changes will
            not affect orders already placed and confirmed.</p>

        <h2 class="pt-3">Communication:</h2>
        <p><strong>Notification of Price Changes:</strong> In the event of a significant price change, we will notify
            customers through email and update the website accordingly.</p>

        <h2 class="pt-3">Contact Information:</h2>
        <p>If you have any questions or concerns regarding our pricing, please contact us at <a
                href="mailto:stickyshapestore@gmail.com">stickyshapestore@gmail.com</a>.</p>

        <p>Thank you for choosing StickyShape. We appreciate your trust in our pricing transparency.</p>
        <p class="pb-5">3rd December, 2023</p>
    </div>

</section>
{% endblock %}