<!-- about.html -->
{% extends 'index.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<section>
    <div class="container mt-5">
        <h1 class="pt-5">Privacy Policy</h1>
        <p>Last updated: 3rd December, 2023</p>

        <p>Welcome to StickyShape, where we prioritize the privacy and security of your personal information. This
            Privacy Policy outlines our practices concerning the collection, use, and protection of the information we
            gather when you visit our website or make a purchase from StickyShape.</p>

        <h2 class="pt-3">Information We Collect:</h2>
        <ol>
            <li><strong>Personal Information:</strong> When you place an order, we collect information such as your
                name, email address, shipping address, and contact number to fulfill your order and keep you informed
                about its status.</li>
            <li><strong>Payment Details:</strong> To process payments, we collect your payment details securely. Please
                note that we do not store your payment information after the transaction is complete.</li>
            <li><strong>Website Usage Information:</strong> We may collect non-personal information, such as your IP
                address, browser type, and pages visited, to enhance your browsing experience and improve our website.
            </li>
        </ol>

        <h2 class="pt-3">How We Use Your Information:</h2>
        <ul>
            <li><strong>Order Fulfillment:</strong> We use your personal information to process and fulfill your orders.
                This includes communicating with you about your order status and providing tracking information.</li>
            <li><strong>Communication:</strong> With your consent, we may send you promotional emails about new
                products, special offers, or other updates. You can opt-out of these communications at any time.</li>
            <li><strong>Improving User Experience:</strong> Non-personal information is used to analyze website traffic
                and improve our website's functionality and content.</li>
        </ul>

        <h2 class="pt-3">Data Security:</h2>
        <p>We take the security of your information seriously. We implement reasonable measures to safeguard your
            personal information from unauthorized access, disclosure, alteration, and destruction.</p>

        <h2 class="pt-3">Information Sharing:</h2>
        <p>We do not sell, trade, or otherwise transfer your personal information to outside parties. This does not
            include trusted third parties who assist us in operating our website, conducting our business, or servicing
            you, as long as those parties agree to keep this information confidential.</p>

        <h2 class="pt-3">Your Choices:</h2>
        <p>You have the right to:</p>
        <ul>
            <li>Review and update your personal information.</li>
            <li>Opt-out of promotional communications.</li>
            <li>Request the deletion of your personal information, subject to legal obligations.</li>
        </ul>

        <h2 class="pt-3">Changes to Privacy Policy:</h2>
        <p>We may update this Privacy Policy to reflect changes in our practices or for other operational, legal, or
            regulatory reasons. Any changes will be effective immediately upon posting on this page.</p>

        <h2 class="pt-3">Questions and Contact Information:</h2>
        <p>If you have any questions or concerns regarding our Privacy Policy, please contact us at <a
                href="mailto:stickyshapestore@gmail.com"
                style="text-decoration: none;"><b>stickyshapestore@gmail.com</b></a>. We are committed to addressing
            your inquiries and maintaining the trust you place in StickyShape.</p>

        <p>Thank you for choosing StickyShape - where your privacy matters.</p>
        <p class="pb-5">3rd December, 2023</p>
    </div>
</section>
{% endblock %}