<!-- about.html -->
{% extends 'index.html' %}

{% block title %}Terms & Conditions{% endblock %}

{% block content %}
<section>
    <div class="container mt-5">
        <h1 class="pt-5 pb-4">Terms & Conditions</h1>

        <p>Last updated: 3rd December, 2023</p>

        <p>Welcome to StickyShape! By accessing our website and making a purchase, you agree to comply with and be bound
            by the following Terms & Conditions. Please read these carefully before placing an order.</p>

        <h2 class="pt-3">Order Processing:</h2>
        <p><strong>Dispatch and Delivery:</strong> We aim to dispatch orders within 2 business days. Delivery times vary
            based on your location and follow standard postal service timelines.</p>
        <p><strong>Tracking Information:</strong> Upon order dispatch, we provide tracking information via email. This
            allows you to monitor the progress of your delivery.</p>

        <h2 class="pt-3">Returns and Exchanges:</h2>
        <p><strong>Returns and Exchanges Policy:</strong> We regret to inform you that we do not accept returns or
            exchanges for stickers. All sales are final.</p>

        <h2 class="pt-3">Cancellations:</h2>
        <p><strong>Order Cancellations:</strong> Orders can be canceled within 24 hours of purchase. Contact us at <a
                href="mailto:stickyshapestore@gmail.com">stickyshapestore@gmail.com</a> with your order details for
            cancellation. Once dispatched, cancellations are not possible.</p>

        <h2 class="pt-3">Damaged Items:</h2>
        <p><strong>Damaged Items:</strong> We take great care in packaging your stickers to ensure they arrive in
            excellent condition. In the event that your stickers are damaged during transit, please contact us at <a
                href="mailto:stickyshapestore@gmail.com">stickyshapestore@gmail.com</a> with a photo of the damaged
            items, and we will assist you accordingly.</p>

        <h2 class="pt-3">Refunds:</h2>
        <p><strong>Refunds:</strong> Refunds are processed in cases of damaged or defective stickers. Please contact us
            at <a href="mailto:stickyshapestore@gmail.com">stickyshapestore@gmail.com</a> with details and photos to
            initiate the refund process.</p>

        <h2 class="pt-3">Quality Assurance:</h2>
        <p><strong>Sticker Quality:</strong> Our stickers are crafted with care on high-quality glossy paper. They are
            designed to be durable, vibrant, and long-lasting.</p>

        <h2 class="pt-3">General Terms:</h2>
        <p><strong>Website Use:</strong> Your use of our website is subject to compliance with these Terms & Conditions
            and applicable laws.</p>
        <p><strong>Intellectual Property:</strong> All content on this website, including images, logos, and text, is
            the property of StickyShape and is protected by intellectual property laws.</p>
        <p><strong>Modification of Terms:</strong> We reserve the right to update or modify these Terms & Conditions at
            any time. Changes will be effective immediately upon posting on this page.</p>

        <h2 class="pt-3">Contact Information:</h2>
        <p>If you have any questions or concerns regarding our Terms & Conditions, please contact us at <a
                href="mailto:stickyshapestore@gmail.com">stickyshapestore@gmail.com</a>.</p>

        <p>Thank you for choosing StickyShape and adhering to our Terms & Conditions.</p>
        <p class="pb-5">3rd December, 2023</p>
    </div>
</section>
{% endblock %}