<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Update Product</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {{ form.description(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.price.label(class="form-control-label") }}
                {{ form.price(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.stock_quantity.label(class="form-control-label") }}
                {{ form.stock_quantity(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.discount_percent.label(class="form-control-label") }}
                {{ form.discount_percent(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.product_highlight.label(class="form-control-label") }}
                {{ form.product_highlight(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.product_category.label(class="form-control-label") }}
                {{ form.product_category(class="form-control") }}
            </div>

             <h3>Existing Images</h3>
             <div class="row">

                {{ form.images.label(class="form-control-label") }}
                {{ form.images(class="form-control") }}
            
             </div>
        
            <div class="row">
                {% for product_image in product_images %}
                     <img class="wsk-cp-img img-responsive col" src="{{ product_image }}?update=4" alt="Product"  loading="lazy" style="width: 200px; height: 200px;"/>
                {% endfor %}
            </div>

            <div class="form-group">
                <br><br>
                {{ form.submit(class="btn btn-primary") }}
           </div>

        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
